@import "@/app/_styles/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  box-sizing: border-box;
  // overscroll-behavior: none;
  overscroll-behavior-y: none; // Bloquea solo el overscroll vertical
}

:root {
  // background-color: #0a0a0a;
}

.no-transition * {
  transition: none !important;
}
