@import "@/app/_styles/variables";
@import "@/app/_styles/mixins";

$dependency-theme-map: (
  dark: (
    // background: rgba($white-base, 0.02),
    background: transparent,
    hover-bg: rgba($white-base, 0.05),
    // border: rgba($white-base, 0.05),
    border: transparent,
    text: $text-primary,
    icon-bg: rgba($primary-color, 0.12),
    completed-bg: rgba($success-color, 0.12),
    completed-color: $success-color,
    in-progress-color: $primary-color,
  ),
  light: (
    background: rgba($primary-light, 0.1),
    hover-bg: rgba($primary-light, 0.15),
    border: rgba($primary-light, 0.2),
    text: $text-primary,
    icon-bg: rgba($primary-color, 0.08),
    completed-bg: rgba($success-color, 0.08),
    completed-color: $success-color,
    in-progress-color: $primary-color,
  ),
  custom: (
    background: var(--dependency-background),
    hover-bg: var(--dependency-hover-bg),
    border: var(--dependency-border),
    text: var(--dependency-text),
    icon-bg: var(--dependency-icon-bg),
    completed-bg: var(--dependency-completed-bg),
    completed-color: var(--dependency-completed-color),
    in-progress-color: var(--dependency-in-progress-color),
  ),
);

.dependency {
  $self: &;
  @include flex-between;
  padding: $spacing-sm;
  border-radius: $border-radius-sm;
  transition: all 0.2s ease;

  @each $theme, $values in $dependency-theme-map {
    &--theme-#{$theme} {
      background: map-get($values, background);
      border: 1px solid map-get($values, border);

      //   &:hover {
      //     background: map-get($values, hover-bg);
      //   }

      #{$self}__icon {
        &--completed {
          color: map-get($values, completed-color);
        }
        &--in-progress {
          color: map-get($values, in-progress-color);
        }
      }
    }
  }

  &__info {
    @include flex(row, center, center, $spacing-sm);
  }

  &__icon-wrapper {
    padding: $spacing-xs;
    border-radius: $border-radius-sm;
    transition: background-color 0.2s ease;

    &--completed {
      transition: background-color 0.2s ease;
    }
  }

  &__icon {
    height: 16px;
    width: 16px;
    transition: color 0.2s ease;
  }

  //   &__action {
  //     @include flex-center;
  //     padding: $spacing-xs;
  //     border-radius: $border-radius-sm;
  //     transition: all 0.2s ease;

  //     &:hover {
  //       background: rgba($white-base, 0.1);
  //     }
  //   }
}
