// styles/_mixins.scss
@mixin mobile {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin glass-effect {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@mixin text-shadow {
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, 0);
}

@mixin gradient-border {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 9999px;
    border: 1px solid transparent;
    background: linear-gradient(45deg, $primary-color, transparent) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    transition: background 0.6s $transition-bezier;
  }
}
