@import "@/styles/variables";
@import "@/styles/mixins";

$stage-progress-theme-map: (
  dark: (
    background: transparent,
    border: rgba($white-base, 0.3),
    track: transparent,
    connector: rgba($text-primary, 0.2),
    timeline-circle: $black-light,
    timeline-marker: linear-gradient(180deg, $black-dark, $black-base),
  ),
  light: (
    background: transparent,
    border: rgba($black-base, 0.4),
    track: transparent,
    connector: rgba($black-base, 0.2),
    timeline-circle: $white-dark,
    timeline-marker: $white-color,
  ),
  custom: (
    background: var(--stage-progress-background),
    border: var(--stage-progress-border),
    track: var(--stage-progress-track),
    connector: var(--stage-progress-connector),
    timeline-circle: var(--stage-progress-timeline-circle),
    timeline-marker: var(--stage-progress-timeline-marker),
  ),
);

.stage-progress {
  $self: &;
  width: 100%;
  position: relative;
  isolation: isolate;

  // Theme Variations
  @each $theme, $values in $stage-progress-theme-map {
    &--theme-#{$theme} {
      background: map-get($values, background);

      #{$self}__track {
        background-color: map-get($values, track);
      }

      #{$self}__timeline {
        &-marker svg {
          background: map-get($values, timeline-marker);
        }

        &-circle-wrapper svg {
          background: map-get($values, timeline-circle);
        }

        &-line-wrapper {
          background: map-get($values, connector);
        }

        &-title,
        &-tooltip {
          border-color: map-get($values, border);

          @if $theme == "light" {
            color: rgba($black-base, 0.6);
          }
        }
      }
    }
  }

  // Size
  &--small {
    .stage-progress__track--timeline {
      padding: 0.6rem 0;
    }
  }

  // Header
  &__header {
    @include flex(row, space-between);
    margin-bottom: $spacing-md;
  }

  // Track
  &__track {
    position: relative;
    border-radius: $border-radius-full;

    &--timeline {
      height: auto;
      padding: $spacing-xl 0;

      @include tablet {
        padding: $spacing-sm 0;
      }
    }
  }

  // Timeline Styles
  &__timeline {
    &-container {
      position: relative;
      height: 100%;
      padding: $spacing-md 0;
      width: calc(100% - 24px);
      overflow: visible;
    }

    &-line-wrapper {
      position: relative;
      width: 100%;
      height: 2px;
    }

    &-progress {
      position: absolute;
      inset: 0 auto 0 0;
      transition: width $transition-duration-fast $transition-bezier;
    }

    &-item {
      position: absolute;
      transform: translateX(-50%);
      @include flex(column);

      &--small {
        .stage-progress__timeline-marker,
        .stage-progress__timeline-circle-wrapper {
          width: 22px;
          height: 22px;

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }

    &-marker {
      @include flex;
      border-radius: 50%;
      height: 26px;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      z-index: 2;

      svg {
        border-radius: 50%;
        display: block;
        height: 26px;
        width: 26px;
      }
    }

    &-circle-wrapper {
      @include flex;
      width: 100%;
      height: 100%;

      svg {
        border-radius: 50%;
        color: transparent;
        width: 24px;
        height: 24px;
        display: block;
      }
    }

    &-title,
    &-tooltip {
      @include absolute-center;
      border-radius: $border-radius-full;
      border: 1px solid;
      overflow: hidden;
      padding: 0.4rem 0.8rem;
      position: absolute;
      top: -2rem;
      white-space: nowrap;

      @include desktop {
        display: none;
      }
    }

    &-tooltip {
      display: none;
      visibility: hidden;
      z-index: $z-index-tooltip;

      @include desktop {
        display: block;
      }

      .stage-progress--small & {
        display: block;
      }

      &--visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // Responsive Styles
  @include mobile {
    &__timeline {
      &-container {
        padding: $spacing-md 0;
      }

      &-marker {
        width: 24px;
        height: 24px;
      }

      &-tooltip {
        padding: $spacing-xs $spacing-sm;
      }
    }
  }
}
