@import "@/styles/variables";
@import "@/styles/mixins";

$stage-bar-theme-map: (
  dark: (
    stage-bar: (
      completed: (
        border: rgba($success-color, 0.7),
        background:
          linear-gradient(
            90deg,
            rgba($success-color, 0.4),
            rgba($success-color, 0.5)
          ),
      ),
      in-progress: (
        border: rgba($primary-color, 0.7),
        background: rgba($primary-color, 0.2),
        stripe: rgba($primary-color, 0.4),
      ),
      upcoming: (
        border: transparent,
        background: rgba($primary-color, 0.25),
      ),
    ),
    milestone: (
      completed: (
        color: rgba($success-color, 0.9),
        background: rgba($success-color, 0.1),
      ),
      in-progress: (
        color: rgba($primary-color, 0.9),
        background: rgba($primary-color, 0.1),
      ),
      upcoming: (
        color: rgba($primary-light, 0.56),
        background: transparent,
      ),
      tooltip: (
        background: rgba($black-base, 0.9),
        text: $text-secondary,
      ),
    ),
    selection: (
      border-color: rgba($text-primary, 0.1),
      hover-shadow: rgba($primary-color, 0.2),
    ),
  ),
  light: (
    stage-bar: (
      completed: (
        border: rgba($success-color, 8),
        background:
          linear-gradient(
            90deg,
            rgba($success-color, 0.4),
            rgba($success-color, 0.5)
          ),
      ),
      in-progress: (
        border: rgba($primary-color, 0.8),
        background: rgba($primary-color, 0.05),
        stripe: rgba($primary-color, 0.3),
      ),
      upcoming: (
        border: rgba($primary-color, 0.4),
        background: rgba($primary-color, 0.05),
      ),
    ),
    milestone: (
      completed: (
        color: $success-color,
        background: transparent,
      ),
      in-progress: (
        color: $primary-color,
        background: transparent,
      ),
      upcoming: (
        color: rgba($primary-color, 0.6),
        background: transparent,
      ),
      tooltip: (
        background: rgba($white-light, 0.9),
        text: $white-color,
      ),
    ),
    selection: (
      border-color: rgba($black-base, 0.1),
      hover-shadow: rgba($primary-color, 0.2),
    ),
  ),
  custom: (
    stage-bar: (
      completed: (
        border: var(--stage-bar-completed-border),
        background: var(--stage-bar-completed-bg),
      ),
      in-progress: (
        border: var(--stage-bar-in-progress-border),
        background: var(--stage-bar-in-progress-bg),
        stripe: var(--stage-bar-in-progress-stripe),
      ),
      upcoming: (
        border: var(--stage-bar-upcoming-border),
        background: var(--stage-bar-upcoming-bg),
      ),
    ),
    milestone: (
      completed: (
        color: var(--milestone-completed-color),
        background: var(--milestone-completed-bg),
      ),
      in-progress: (
        color: var(--milestone-in-progress-color),
        background: var(--milestone-in-progress-bg),
      ),
      upcoming: (
        color: var(--milestone-upcoming-color),
        background: var(--milestone-upcoming-bg),
      ),
      tooltip: (
        background: var(--milestone-tooltip-bg),
        text: var(--milestone-tooltip-text),
      ),
    ),
    selection: (
      border-color: var(--stage-bar-selection-border),
      hover-shadow: var(--stage-bar-hover-shadow),
    ),
  ),
);

.stage-bar {
  $self: &;
  position: absolute;
  height: 30px;
  border-radius: 9px;
  transition: all 0.2s ease;
  z-index: 2;
  border-width: 1px;
  border-style: solid;
  transition: transform 0.3s ease-out;
  will-change: transform;

  // overflow: hidden; // Para el patrón animado

  &--selected {
    z-index: 3;
  }

  @each $theme, $values in $stage-bar-theme-map {
    &--theme-#{$theme} {
      $stage-bar-themes: map-get($values, stage-bar);
      $selection: map-get($values, selection);
      $milestone: map-get($values, milestone);

      &.stage-bar--inProgress {
        border-color: map-get(map-get($stage-bar-themes, in-progress), border);
        background-color: map-get(
          map-get($stage-bar-themes, in-progress),
          background
        );

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(
            45deg,
            map-get(map-get($stage-bar-themes, in-progress), stripe) 25%,
            transparent 25%,
            transparent 50%,
            map-get(map-get($stage-bar-themes, in-progress), stripe) 50%,
            map-get(map-get($stage-bar-themes, in-progress), stripe) 75%,
            transparent 75%,
            transparent
          );
          background-size: 12px 12px;
          animation: moveStripes 1s linear infinite;
          opacity: 0.5;
        }
      }

      &.stage-bar--completed {
        border-color: map-get(map-get($stage-bar-themes, completed), border);
        background: map-get(map-get($stage-bar-themes, completed), background);
      }

      &.stage-bar--notStarted {
        border-color: map-get(map-get($stage-bar-themes, upcoming), border);
        background-color: map-get(
          map-get($stage-bar-themes, upcoming),
          background
        );
      }

      &.stage-bar--selected {
        box-shadow: 0 0 0 2px map-get($selection, border-color);
      }

      &:hover {
        box-shadow: 0 0 0 2px map-get($selection, hover-shadow);
      }

      // Milestone styles con clases específicas para cada estado
      #{$self}__milestone {
        &--inProgress {
          color: map-get(map-get($milestone, in-progress), color);
          background: map-get(map-get($milestone, in-progress), background);
        }

        &--completed {
          color: map-get(map-get($milestone, completed), color);
          background: map-get(map-get($milestone, completed), background);
        }

        &--notStarted {
          color: map-get(map-get($milestone, upcoming), color);
          background: map-get(map-get($milestone, upcoming), background);
        }

        &-tooltip {
          background: map-get(map-get($milestone, tooltip), background);
        }
      }
    }
  }

  &__milestone {
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    z-index: 2;
    // cursor: pointer;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 2px;

    &-icon {
      width: 16px;
      height: 16px;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    &-tooltip {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: $spacing-xs $spacing-sm;
      border-radius: $border-radius-sm;
      margin-bottom: $spacing-sm;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease;
      pointer-events: none;
      @include elevation(1);
    }

    &:hover {
      .stage-bar__milestone-tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(-4px);
      }
    }
  }
}

// @keyframes moveStripes {
//   0% {
//     background-position: 0 0;
//   }
//   100% {
//     background-position: 20px 0;
//   }
// }
