@import "@/app/_styles/variables";
@import "@/app/_styles/mixins";

.typography-section {
  &__content {
    @include flex(column, flex-start, stretch);
  }

  &__item {
    @include flex(row, space-between, center);
    padding: $spacing-xxl 0;

    @include mobile {
      padding: $spacing-xl 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }
  }

  &__meta {
    @include flex(column, flex-start, stretch, $spacing-xs);
    min-width: 160px;

    @include tablet {
      min-width: 140px;
    }

    @include mobile {
      min-width: 120px;
    }
  }

  &__preview {
    flex: 1;
  }
}
