/* LiquidDistortionScene.module.scss */

.liquid-distortion {
  position: absolute; /* Cambiado de relative a absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-radius: 8px;
  background-color: #030712;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  z-index: -1; /* Aseguramos que esté por debajo del contenido */

  &__overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(
      circle at center,
      transparent 60%,
      rgba(0, 0, 0, 0.8)
    );
    backdrop-filter: blur(30px);
  }
}
