@import "@/app/_styles/variables";
@import "@/app/_styles/mixins";

$search-card-theme-map: (
  light: (
    background: transparent,
    border: rgba($primary-light, 0.2),
    text: $black-base,
  ),
  dark: (
    background: $black-dark,
    border: rgba($white-base, 0.15),
    text: $white-color,
  ),
  custom: (
    background: var(--search-card-background),
    border: var(--search-card-border),
    text: var(--search-card-text),
  ),
);

.search-card {
  $self: &;
  padding-block: $spacing-xl;
  // border-radius: $border-radius-md;
  // box-shadow: $shadow-sm;
  padding-inline: 0 $spacing-md;

  @include mobile {
    padding-block: $spacing-lg;
    padding-inline: 0 $spacing-md;
  }

  @each $theme, $values in $search-card-theme-map {
    &--#{$theme} {
      background: map-get($values, background);

      &:not(:last-child) {
        border-bottom: 1px solid map-get($values, border);
      }

      // color: map-get($values, text);
    }
  }

  &__header {
    @include flex($align: center, $justify: space-between, $gap: $spacing-md);
    // max-width: 900px;
    margin-bottom: $spacing-md;

    @include mobile {
      margin-bottom: $spacing-sm;
    }
  }

  &__excerpt {
    max-width: 900px;
  }
}
