@import "@/styles/variables";
@import "@/styles/mixins";

.design-system {
  &__container {
    background: $white-color;
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
    }
  }

  &__section {
    margin-bottom: $spacing-xxl;

    &-title {
      margin-bottom: $spacing-lg;
    }
  }

  &__color-name,
  &__color-value,
  &__typography-item,
  &__spacing-item {
    user-select: text;
    cursor: text;
  }

  &__color-content {
    @include flex(column, flex-start, stretch, $spacing-xl);
  }

  &__color-category {
    @include flex(column, flex-start, stretch, $spacing-md);

    &-title {
      text-transform: capitalize;
    }
  }

  &__color-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Exactamente 4 columnas
    gap: $spacing-md;
  }

  &__color-item {
    border-radius: $border-radius-md;
    overflow: hidden;
  }

  &__color-preview {
    height: 64px;
    border-radius: $border-radius-md;
  }

  &__color-info {
    @include flex(row, space-between, center);
    padding: $spacing-sm $spacing-xs;
    border-radius: 0 0 $border-radius-md $border-radius-md;
  }

  &__typography-item {
    @include flex(row, flex-start, center);
    margin-bottom: $spacing-xl;

    &-info {
      width: 120px;
    }
  }

  &__spacing-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Exactamente 4 columnas
    gap: $spacing-md;
  }

  &__spacing-item {
    margin-bottom: $spacing-lg;
    @include flex(
      column,
      flex-start,
      // Cambiado de center a flex-start
      flex-start,
      $spacing-sm
    );
    text-align: left;
    width: 100%;
    height: 100%; // Asegura que el item tome toda la altura disponible
    display: grid;
    grid-template-rows: auto 1fr auto; // Estructura: título, descripción, preview

    &-box {
      height: 0.3125rem;
      background-color: $primary-light;
      margin-bottom: $spacing-xs;
    }
  }
}
