// ColorPalette.module.scss
@import "@/app/_styles/variables";
@import "@/app/_styles/mixins";

.color-palette {
  // padding: $spacing-lg;
  background-color: $white-color;

  &__title {
    margin-bottom: $spacing-lg;
  }

  &__content {
    @include flex(column, flex-start, stretch, $spacing-lg);
  }

  &__category {
    @include flex(column, flex-start, stretch, $spacing-md);
  }

  &__category-title {
    text-transform: capitalize;
  }

  &__grid {
    @include grid(4, $spacing-md);
  }

  &__item {
    border-radius: $border-radius-md;
    overflow: hidden;
    background-color: $white-color;
    @include elevation(1);
  }

  &__preview {
    height: 60px;
    border-radius: $border-radius-md $border-radius-md 0 0;
  }

  &__info {
    @include flex(row, space-between, center);
    padding: $spacing-sm $spacing-xs;
    background-color: $white-color;
  }
}
