// Spacing.module.scss
@import "@/app/_styles/variables";
@import "@/app/_styles/mixins";

.spacing {
  background-color: $white-color;

  &__title {
    margin-bottom: $spacing-xl;
  }

  &__grid {
    @include grid(4, $spacing-xl);
  }

  &__item {
    @include flex(column, flex-start, flex-start, $spacing-sm);
  }

  &__preview-container {
    height: 32px;
    @include flex(row, flex-start, center);
  }

  &__preview {
    height: 4px;
    background-color: $primary-light;
    border-radius: $border-radius-full;
    @include transition(width);
  }

  &__info {
    @include flex(column, flex-start, flex-start, $spacing-xs);
  }
}
