@import "@/styles/variables";
@import "@/styles/mixins";

$timeline-theme-map: (
  dark: (
    background: transparent,
    border: rgba($white-base, 0.2),
    track: transparent,
    connector: rgba($text-primary, 0.2),
    timeline-circle: $black-light,
    timeline-marker: linear-gradient(180deg, $black-dark, $black-base),
  ),
  light: (
    background: transparent,
    border: rgba($black-base, 0.4),
    track: transparent,
    connector: rgba($black-base, 0.2),
    timeline-circle: $white-dark,
    timeline-marker: $white-color,
  ),
  custom: (
    background: var(--timeline-background),
    border: var(--timeline-border),
    track: var(--timeline-track),
    connector: var(--timeline-connector),
    timeline-circle: var(--timeline-timeline-circle),
    timeline-marker: var(--timeline-timeline-marker),
  ),
);

.timeline {
  $self: &;
  width: 100%;
  position: relative;
  isolation: isolate;

  &__header {
    @include flex(row, space-between);
    margin-bottom: $spacing-xxxl;
  }

  &__track {
    position: relative;
    border-radius: $border-radius-full;
    height: auto;
    padding: $spacing-lg 0;

    @include tablet {
      padding: $spacing-sm 0;
    }
  }

  &__container {
    position: relative;
    height: 100%;
    padding: $spacing-md 0;
    width: calc(100% - 24px);
    overflow: visible;
  }

  &__line-wrapper {
    position: relative;
    width: 100%;
    height: 2px;
  }

  &__progress {
    position: absolute;
    inset: 0 auto 0 0;
    transition: width $transition-duration-fast $transition-bezier;
  }

  &__item {
    position: absolute;
    transform: translateX(-50%);
    @include flex(column);

    &--small {
      .timeline__marker,
      .timeline__circle-wrapper {
        width: 22px;
        height: 22px;

        svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  &__marker {
    @include flex;
    border-radius: 50%;
    height: 26px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    z-index: 2;

    svg {
      border-radius: 50%;
      display: block;
      height: 26px;
      width: 26px;
    }
  }

  &__circle-wrapper {
    @include flex;
    width: 100%;
    height: 100%;

    svg {
      border-radius: 50%;
      color: transparent;
      width: 24px;
      height: 24px;
      display: block;
    }
  }

  &__title,
  &__tooltip {
    @include absolute-center;
    border-radius: $border-radius-full;
    border: 1px solid;
    overflow: hidden;
    padding: 0.4rem 0.8rem;
    position: absolute;
    top: -2rem;
    white-space: nowrap;
  }

  &__title {
    cursor: default;
    max-width: 132px; // Add maximum width
    text-overflow: ellipsis; // Add ellipsis
    white-space: nowrap;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      max-width: 300px;
      transform: translateX(-50%) scale(1.05); // Ligero efecto de zoom
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06); // Sombra suave
    }
    @include desktop {
      display: none;
    }
  }

  &__tooltip {
    display: none;
    visibility: hidden;
    z-index: $z-index-tooltip;

    @include desktop {
      display: block;
    }

    .timeline--small & {
      display: block;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  // Size
  &--small {
    .timeline__header {
      margin-bottom: $spacing-md;
      gap: $spacing-sm;
    }

    .timeline__track {
      padding: 0.6rem 0;
    }

    @each $theme, $values in $timeline-theme-map {
      #{$self}__title,
      #{$self}__tooltip {
        @if $theme == "light" {
          background: $white-color;
        }
        @if $theme == "dark" {
          background: $black-base;
        }
      }
    }
  }

  // Theme Variations
  @each $theme, $values in $timeline-theme-map {
    &--theme-#{$theme} {
      background: map-get($values, background);

      #{$self}__marker svg {
        background: map-get($values, timeline-marker);
      }

      #{$self}__circle-wrapper svg {
        background: map-get($values, timeline-circle);
      }

      #{$self}__line-wrapper {
        background: map-get($values, connector);
      }

      #{$self}__title,
      #{$self}__tooltip {
        border-color: map-get($values, border);

        @if $theme == "light" {
          border-color: rgba(map-get($values, border), 0.1);
          color: rgba($black-base, 0.6);
        }
      }

      #{$self}__track {
        background-color: map-get($values, track);
      }
    }
  }

  // Responsive Styles
  @include mobile {
    &__container {
      padding: $spacing-md 0;
    }

    &__marker {
      width: 24px;
      height: 24px;
    }

    &__tooltip {
      padding: $spacing-xs $spacing-sm;
    }
  }
}
