/* Computer3D.module.scss */
.svg-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-element {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}
