// styles/AnimatedText.module.scss
@import "./variables";

.animated {
  &__text {
    display: inline-block;
    perspective: 1000px;
    transform-style: preserve-3d;
  }

  &__char {
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform-origin: 50% 50%;
    transition: color 0.3s ease;

    &--space {
      margin-right: 0.25em;
    }
  }
}
