// styles/Navigation.module.scss
@import "./variables";
@import "./mixins";

.nav {
  display: flex;
  gap: $spacing-xl;
  align-items: center;

  &__links {
    display: flex;
    gap: $spacing-xl;
    margin-left: auto;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  &__link {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    perspective: 1000px;
    color: rgba($text-primary, 0.95);
    @include text-shadow;
    backdrop-filter: blur(4px);
    -webkit-font-smoothing: antialiased;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    &-icon {
      margin-left: $spacing-xs;
      display: inline-flex;
      align-items: center;
      vertical-align: middle;
    }
  }

  &__actions {
    display: flex;
    gap: $spacing-md;
    align-items: center;
    margin-left: auto;
    z-index: $z-index-modal + 10;

    @include mobile {
      // display: none;
    }
  }

  &__action {
    &-wrapper {
      position: relative;
    }

    &-button {
      position: relative;
      z-index: 1;
    }
  }

  &__language {
    position: relative;
    z-index: $z-index-dropdown;
  }
}
