@import "@/styles/variables";
@import "@/styles/mixins";

$theme-map: (
  light: (
    background: $white-light,
    text: $black-base,
    text-secondary: $text-secondary,
    border: rgba($black-base, 0.1),
    card-background: $white-color,
    hover-background: rgba($black-base, 0.05),
  ),
  dark: (
    background: rgba($white-base, 0.03),
    text: $text-primary,
    text-secondary: $text-secondary,
    border: rgba($white-base, 0.1),
    card-background: $black-base,
    hover-background: rgba($white-base, 0.05),
  ),
  custom: (
    background: var(--ds-background),
    text: var(--ds-text),
    text-secondary: var(--ds-text-secondary),
    border: var(--ds-border),
    card-background: var(--ds-card-background),
    hover-background: var(--ds-hover-background),
  ),
);

.design-system {
  $self: &;
  min-height: 100vh;

  // Navigation Styles
  &__nav {
    @include flex(row, flex-start, center);
    padding: $spacing-xs $spacing-xl;

    @include mobile {
      overflow-x: auto;
      padding: $spacing-xs $spacing-md;
    }

    @include mobile-small {
      padding: 0 $spacing-md;
      justify-content: space-around;
    }
  }

  &__nav-item {
    @include flex(row, center, center, $spacing-sm);
    background: transparent;
    border: none;
    padding: $spacing-md $spacing-lg;
    cursor: pointer;
    position: relative;

    &:first-child {
      padding-left: $spacing-sm;
    }

    h5 {
      transition: all 0.2s ease;
    }

    @include mobile {
      padding-inline: $spacing-md;

      &:first-child {
        padding-left: $spacing-md;
      }
    }

    @include mobile-small {
      &:first-child {
        padding-left: $spacing-xs;
      }
    }
  }

  &__content {
    padding: $spacing-xxl $spacing-xxxl;

    @include tablet {
      padding: $spacing-xl;
    }

    @include mobile {
      padding: $spacing-md $spacing-lg;
    }

    @include mobile-small {
      padding: $spacing-md;
    }
  }

  // Theme Variations
  @each $theme, $values in $theme-map {
    &--theme-#{$theme} {
      background: map-get($values, background);
      color: map-get($values, text);

      #{$self}__nav {
        background: map-get($values, card-background);
        border-bottom: 1.5px solid map-get($values, border);
      }

      #{$self}__nav-item {
        // h5 {

        //     color: map-get($values, text);

        // }

        &:hover {
          h5 {
            color: map-get($values, text);
          }
        }

        &--active {
          h5 {
            @if $theme == "light" {
              color: $black-base !important;
            }

            @if $theme == "dark" {
              color: $primary-light !important;
            }
          }
        }
      }
    }
  }
}
