// Typography.module.scss
@import "@/styles/variables";
@import "@/styles/mixins";

.typography {
  background-color: $white-color;

  &__title {
    margin-bottom: $spacing-xl;
  }

  &__content {
    @include flex(column, flex-start, stretch, $spacing-xxl);
  }

  &__item {
    @include flex(row, flex-start, center, $spacing-lg);
  }

  &__meta {
    width: 120px;
    flex-shrink: 0;
  }

  &__label {
    margin-bottom: $spacing-xs;
  }

  &__preview {
    flex-grow: 1;
  }
}
