@import "@/app/_styles/variables";
@import "@/app/_styles/mixins";

$tabs-theme-map: (
  dark: (
    // background:
    //   linear-gradient(
    //     to right,
    //     rgba($primary-color, 0.08),
    //     rgba($primary-color, 0.05)
    //   ),
    background: transparent,
    border: rgba($white-base, 0.16),
    text: $text-primary,
    secondary-text: $text-secondary,
    active-border: $primary-color,
    hover-bg: rgba($primary-color, 0.1),
  ),
  light: (
    // background: $white-color,
    background: transparent,
    border: rgba($primary-light, 0.2),
    text: $black-base,
    secondary-text: $text-secondary,
    active-border: $primary-light,
    hover-bg: rgba($primary-light, 0.1),
  ),
  custom: (
    background: var(--tabs-background),
    border: var(--tabs-border),
    text: var(--tabs-text),
    secondary-text: var(--tabs-secondary-text),
    active-border: var(--tabs-active-border),
    hover-bg: var(--tabs-hover-bg),
  ),
);

.tab {
  &__container {
    @include flex(column, flex-start, stretch);

    @each $theme, $values in $tabs-theme-map {
      &--theme-#{$theme} {
        background: map-get($values, background);

        .tab__header {
          border-bottom: 1px solid map-get($values, border);
        }

        .tab__item {
          color: map-get($values, text);

          @include hover {
            background-color: map-get($values, hover-bg);
          }

          &--active {
            border-bottom: 2px solid map-get($values, active-border);

            > * {
              color: map-get($values, text) !important;
            }
          }
        }
      }
    }
  }

  &__header {
    @include flex(row);
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding-inline: $spacing-md;

    &::-webkit-scrollbar {
      display: none;
    }

    @include tablet {
      padding-inline: $spacing-sm;
    }

    @include mobile {
      justify-content: center;
    }

    @include mobile-small {
      padding-inline: 0;
    }
  }

  &__item {
    @include transition(background-color, border-bottom);
    cursor: pointer;
    padding: 12px $spacing-lg;
    display: inline-block;
    border-bottom: 3px solid transparent;
    text-wrap: nowrap;

    &--number {
      background-color: $primary-color;
      color: $white-color;
      padding-inline: $spacing-xs;
      display: inline-block;
      border-radius: $border-radius-full;
      margin-left: $spacing-xs;
    }

    @include mobile {
      flex: 1;
      text-align: center;
    }

    @include mobile-small {
      padding-inline: $spacing-md;
    }
  }

  &__panel {
    @include transition(opacity);
  }
}
