@import "../../_styles/variables";
@import "@/app/_styles/mixins";

.item {
  &-wrapper {
    position: relative;
    width: 100%;
  }

  &__button {
    width: 100%;
    @include flex(row, flex-start, center);
    gap: $sidebar-spacing-md;
    padding: $sidebar-spacing-md;
    transition: all $sidebar-transition-duration $sidebar-transition-timing;
    position: relative;
    text-decoration: none;
    outline: none;

    &--level-1 {
      padding-left: calc(#{$sidebar-spacing-md} * 2);
    }

    &--level-2 {
      padding-left: calc(#{$sidebar-spacing-md} * 3);
    }

    &.theme-dark {
      &::before {
        background: map-get($sidebar-dark, "active");
      }

      &:hover:not(&--disabled) {
        background: linear-gradient(
          90deg,
          rgba(map-get($sidebar-dark, "hover"), 0.1) 0%,
          transparent 100%
        );
      }

      &--active {
        background: linear-gradient(
          90deg,
          rgba(map-get($sidebar-dark, "active"), 0.15) 0%,
          transparent 100%
        );
      }
    }

    &.theme-light {
      &::before {
        background: map-get($sidebar-light, "active");
      }

      &:hover:not(&--disabled) {
        background: linear-gradient(
          90deg,
          rgba(map-get($sidebar-light, "hover"), 0.1) 0%,
          transparent 100%
        );
      }

      &--active {
        background: linear-gradient(
          90deg,
          rgba(map-get($sidebar-light, "active"), 0.15) 0%,
          transparent 100%
        );
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 60%;
      width: 3px;
      border-radius: 0 4px 4px 0;
      opacity: 0;
      transition: opacity $sidebar-transition-duration
        $sidebar-transition-timing;
    }

    &--active {
      &::before {
        opacity: 1;
      }
    }

    &--disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &--collapsed {
      justify-content: center;
      padding: $sidebar-spacing-md;

      &::before {
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 2.4px;
        border-radius: 0 0 4px 4px;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    @include flex;
    transition: transform $sidebar-transition-duration
      $sidebar-transition-timing;

    &.theme-dark {
      color: map-get($sidebar-dark, "icon");
    }

    &.theme-light {
      color: map-get($sidebar-light, "icon");
    }

    svg {
      stroke: currentColor;
    }

    @include mobile {
      height: 22px;
      width: 22px;
    }
  }

  &__chevron {
    transition: transform $sidebar-transition-duration
      $sidebar-transition-timing;
    margin-left: auto;
    display: block;

    &--rotated {
      transform: rotate(180deg);
    }

    &.theme-dark {
      color: map-get($sidebar-dark, "icon");
    }

    &.theme-light {
      color: map-get($sidebar-light, "icon");
    }
  }

  &__children {
    overflow: hidden;
    transition: height $sidebar-transition-duration $sidebar-transition-timing;
    height: 0;

    &--open {
      height: auto !important;
    }
  }

  &__link {
    text-decoration: none;
    width: 100%;
    display: block;
  }

  &__title {
    margin-right: auto;

    &.theme-dark {
      color: map-get($sidebar-dark, "icon");
    }

    &.theme-light {
      color: map-get($sidebar-light, "icon");
    }
  }

  &__child {
    position: relative;
    margin-left: $sidebar-spacing-xl;

    &::before {
      content: "";
      position: absolute;
      left: -$sidebar-spacing-md;
      top: 0;
      bottom: 0;
      width: 1px;
      background: map-get($sidebar-dark, "border");
      opacity: 0.4;
    }

    &:last-child::before {
      height: 50%;
    }
  }

  &__tooltip {
    @include mobile {
      display: none;
    }
  }

  .subitem {
    display: flex;
    align-items: center;
    gap: $sidebar-spacing-md;
    text-decoration: none;
    padding: $sidebar-spacing-sm;
    width: 100%;
    position: relative;
    margin: $sidebar-spacing-xs 0;

    &__text {
      opacity: 0.8;
      flex: 1;
      max-width: 216px;

      &.theme-dark {
        color: map-get($sidebar-dark, "icon");
      }

      &.theme-light {
        color: map-get($sidebar-light, "icon");
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: -$sidebar-spacing-md;
      top: 50%;
      width: $sidebar-spacing-sm;
      height: 1px;
      background: map-get($sidebar-dark, "border");
      opacity: 0.4;
    }

    &::after {
      content: "";
      position: absolute;
      left: -$sidebar-spacing-md;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: map-get($sidebar-dark, "border");
      opacity: 0.8;
    }

    // Movemos las clases active y disabled fuera de los temas
    &--active {
      &.theme-dark {
        // background: rgba(map-get($sidebar-dark, "active"), 0.15);
        background: linear-gradient(
          90deg,
          rgba(map-get($sidebar-dark, "active"), 0.125) 0%,
          transparent 100%
        );
      }

      &.theme-light {
        // background: rgba(map-get($sidebar-light, "active"), 0.1);
        background: linear-gradient(
          90deg,
          rgba(map-get($sidebar-light, "active"), 0.125) 0%,
          transparent 100%
        );
      }
    }

    &--disabled {
      opacity: 0.7;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }

    // Movemos los hover a los temas
    &.theme-dark {
      &:hover:not(.subitem--disabled) {
        background: linear-gradient(
          90deg,
          rgba(map-get($sidebar-dark, "hover"), 0.1) 0%,
          transparent 100%
        );
      }

      .subitem__lock {
        color: map-get($sidebar-dark, "icon");
      }
    }

    &.theme-light {
      &:hover:not(.subitem--disabled) {
        background: linear-gradient(
          90deg,
          rgba(map-get($sidebar-light, "hover"), 0.1) 0%,
          transparent 100%
        );
      }

      .subitem__lock {
        color: map-get($sidebar-light, "icon");
      }
    }

    &__lock {
      margin-left: auto;
      opacity: 0.4;
    }
  }
}
