@import "@/app/_styles/variables";
@import "@/app/_styles/mixins";

.settings {
  position: relative;
  width: 100%;
  // min-height: calc(100vh - 64px);

  &__content {
    @include flex(column, flex-start, left);
    gap: $spacing-xxl;
    max-width: 600px;
    margin: $spacing-xl $spacing-xxl;

    @include mobile-medium {
      margin: $spacing-md $spacing-xs;
      // padding: 0 $spacing-sm;
    }
  }

  &__section {
    @include flex(column, flex-start, left);
    gap: $spacing-xl;
    padding: $spacing-sm 0;

    &-header {
      @include flex(column, flex-start, left, $spacing-md);
    }

    &-content {
      flex: 1;
      max-width: 240px;
    }
  }

  &__skeleton {
    &-title {
      height: $spacing-lg; // 24px
      width: 128px;
      border-radius: $border-radius-sm;
      background-color: $text-tertiary;
    }

    &-description {
      height: $spacing-md; // 16px
      width: 256px;
      // margin-top: $spacing-sm;
      border-radius: $border-radius-sm;
      background-color: $text-tertiary-80;
    }

    &-toggle {
      height: 40px;
      width: 192px;
      border-radius: $border-radius-sm;
      background-color: $text-tertiary;
    }

    &-animation {
      animation: pulse $transition-duration-fast $transition-bezier infinite;
    }
  }

  &__pattern-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; // height: 100vh;
    z-index: 0;
    background: transparent;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
