@import "@/styles/variables";
@import "@/styles/mixins";

$theme-map: (
  dark: (
    // background:
    //   linear-gradient(
    //     to right,
    //     rgba($primary-color, 0.08),
    //     rgba($primary-color, 0.05)
    //   ),
    background: transparent,
    border: rgba($primary-color, 0.1),
    text: $text-primary,
    secondary-text: $text-secondary,
    accent: $primary-light,
    hover: rgba($primary-color, 0.2),
  ),
  light: (
    background: transparent,
    border: transparent,
    text: $black-base,
    secondary-text: rgba($black-base, 0.7),
    accent: $primary-color,
    hover: rgba($primary-color, 0.1),
  ),
  custom: (
    background: var(--project-header-background),
    border: var(--project-header-border),
    text: var(--project-header-text),
    secondary-text: var(--project-header-secondary-text),
    accent: var(--project-header-accent),
    hover: var(--project-header-hover),
  ),
);

$glassmorphism-variants: (
  subtle: (
    background-opacity: 0.05,
    backdrop-blur: 5px,
    border-opacity: 0.1,
  ),
  medium: (
    background-opacity: 0.1,
    backdrop-blur: 10px,
    border-opacity: 0.15,
  ),
  prominent: (
    background-opacity: 0.15,
    backdrop-blur: 15px,
    border-opacity: 0.2,
  ),
);

.project-header {
  $self: &;
  position: relative;
  padding: $spacing-lg $spacing-xl;

  @include tablet {
    padding: $spacing-lg;
  }

  @include mobile-small {
    padding: $spacing-md;
    padding-bottom: $spacing-lg;
  }

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; // Asegura que está en el fondo
    pointer-events: none; // Evita que interfiera con los clics
  }

  &__main {
    border-radius: $border-radius-lg;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__content {
    @include flex(column, flex-start, stretch, $spacing-xl);

    @include mobile {
      gap: $spacing-lg;
    }
  }

  &__header {
    @include flex(column, flex-start, stretch, $spacing-md);
  }

  &__title-group {
    @include flex(row, space-between, flex-start);
    gap: $spacing-xl;

    @include mobile {
      gap: $spacing-md;
    }

    @include mobile-small {
      flex-direction: column-reverse;
    }
  }

  &__title-section {
    @include flex(column, flex-start, stretch, $spacing-sm);

    @include mobile-small {
      max-width: 100%;
      padding-inline: $spacing-xs;
    }
  }

  &__title-wrapper {
    @include flex(row, flex-start, center);
    gap: $spacing-md;

    @include mobile-small {
      gap: 12px;

      h4 {
        text-wrap: wrap;
        line-height: 1.6;
      }
    }
  }

  &__subtitle {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    width: fit-content;
  }

  &__divider {
    margin-inline: 12px;
    transform: translateY(-0.4px);

    &:first-child {
      margin-left: 0;

      @include mobile {
        display: none;
      }
    }

    @include mobile {
      margin-inline: $spacing-sm;
    }
  }

  &__info {
    @include flex(row, space-between, flex-start);
    gap: $spacing-xl;

    @include mobile {
      // flex-direction: column;
      gap: $spacing-md;
    }

    @include mobile-small {
      gap: $spacing-sm;

      padding-inline: $spacing-xs;
    }
  }

  &__description {
    max-width: 640px;
  }

  &__actions {
    flex-shrink: 0;
  }

  &__dropdown {
    min-width: 200px;

    @include mobile {
      min-width: unset;
    }

    @include mobile-small {
      min-width: 156px;
    }

    &-item {
      @include flex(row, flex-start, center, $spacing-md);
      width: 100%;
      padding: 2px 0;
    }

    &-icon {
      width: 1.25rem;
      height: 1.25rem;
      flex-shrink: 0;
    }

    &-item-content {
      @include flex(row, space-between, center);
      flex: 1;
      gap: $spacing-sm;

      svg {
        height: 16px;
        width: 16px;
      }
    }

    &-selected {
      @include flex(row, flex-start, center, $spacing-sm);
    }
  }

  &__progress-wrapper {
    @include flex(column, flex-start, flex-end, $spacing-xs);
    min-width: 200px;

    @include mobile {
      align-items: flex-end;
      min-width: unset;
    }

    @include mobile-small {
      @include flex(row, flex-start, center, $spacing-lg);
    }
  }

  &__progress-text {
    @include flex(row, flex-start, center, $spacing-md);
    gap: $spacing-sm;

    @include mobile {
      display: none;
    }
  }

  &__progress-trend {
    @include flex(row, flex-start, center, $spacing-xs);

    @include mobile {
      display: none;
    }
  }

  &__trend-icon {
    width: 1rem;
    height: 1rem;
    color: $success-color;
  }

  &__status-badge {
    @include tablet {
      margin-top: $spacing-xs;
    }

    @include mobile {
      display: none;
    }
  }

  &__status-icon {
    display: none;
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__metrics {
    @include grid(4, $spacing-md);

    @include mobile {
      overflow-x: auto;
      gap: 12px;
    }
  }

  &__metric {
    @include flex(row, flex-start, center, $spacing-md);
    padding: 12px $spacing-md;
    border-radius: $border-radius-md;
    @include transition(transform);

    @include tablet {
      padding-inline: $spacing-sm;
    }

    @include mobile {
      gap: 12px;
      padding: $spacing-sm;
    }

    @include mobile-small {
      gap: 10px;
    }

    &-icon {
      width: 20px;
      height: 20px;
      flex-shrink: 0;

      @include mobile {
        width: 18px;
        height: 18px;
      }

      @include mobile-small {
        width: 16px;
        height: 16px;
      }
    }

    &-content {
      @include flex(column, flex-start, stretch, 2px);
      min-width: 0;

      @include mobile-small {
        gap: 0;
      }
    }

    &-label {
      @include text-truncate;
    }

    &--success {
      .project-header__metric-icon {
        color: $success-color;
      }
    }

    &--warning {
      .project-header__metric-icon {
        color: #fbbf24;
      }
    }

    &--error {
      .project-header__metric-icon {
        color: $error-color;
      }
    }

    &--info {
      .project-header__metric-icon {
        color: $primary-light;
      }
    }
  }

  &__date-range {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @each $theme, $values in $theme-map {
    &--theme-#{$theme} {
      #{$self}__main {
        background: map-get($values, background);
        // border: 1px solid map-get($values, border);

        @each $variant, $glass-values in $glassmorphism-variants {
          &--glass-#{$variant} {
            background: transparent;
            backdrop-filter: blur(map-get($glass-values, backdrop-blur));
            -webkit-backdrop-filter: blur(
              map-get($glass-values, backdrop-blur)
            );

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: map-get($values, background);
              opacity: map-get($glass-values, background-opacity);
              border-radius: inherit;
              z-index: -1;
            }

            #{$self}__metric {
              background: rgba(map-get($values, text), 0.03);
              backdrop-filter: blur(map-get($glass-values, backdrop-blur));
              -webkit-backdrop-filter: blur(
                map-get($glass-values, backdrop-blur)
              );
            }
          }
        }
      }

      // #{$self}__description,
      // #{$self}__title-section {
      //   @if $theme == "dark" {
      //     background-color: $black-base;
      //   }

      //   @if $theme == "light" {
      //     background-color: $white-light;
      //   }
      // }

      // #{$self}__metrics {
      //   @include tablet {
      //     @if $theme == "dark" {
      //       background-color: $black-base;
      //     }

      //     @if $theme == "light" {
      //       background-color: $white-color;
      //     }
      //   }
      // }

      #{$self}__metric {
        @if $theme == "dark" {
          border: 1px solid rgba($white-base, 0.04);
          background-color: rgba($white-base, 0.01);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
        }

        @if $theme == "light" {
          background-color: $white-color;
          @include elevation(1);
        }

        @include mobile {
          border-bottom: 0;
        }

        &-icon {
          color: map-get($values, accent);
        }
      }

      #{$self}__dropdown {
        &-icon {
          color: map-get($values, accent);
        }

        &-item-title {
          color: map-get($values, text);
        }
      }
    }
  }
}
