@import "@/app/_styles/variables.scss";
@import "@/app/_styles/mixins.scss";

.home-page {
  background-color: $black-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding-block: 0;
  padding-inline: 0;
  position: relative;
  width: 100%;

  @include desktop {
    padding-inline: 48px;
  }

  @include tablet {
    gap: 72px;
  }

  @include mobile {
    gap: 64px;
    padding-inline: 32px;
  }

  @include mobile-small {
    gap: 48px;
    padding-inline: 24px;
  }
}
