@import "@/app/_styles/variables";
@import "@/app/_styles/mixins";

$search-results-theme-map: (
  light: (
    background: $white-light,
    text: $black-base,
    border: rgba($primary-light, 0.7),
  ),
  dark: (
    background: $black-dark,
    text: $white-color,
    border: rgba($primary-color, 0.1),
  ),
  custom: (
    background: var(--search-results-background),
    text: var(--search-results-text),
    border: var(--search-results-border),
  ),
);

.search-results {
  $self: &;
  padding: $spacing-xl $spacing-xxxl;
  border-radius: $border-radius-md;

  @include mobile {
    padding: $spacing-xl $spacing-xxl;
  }

  @include mobile-medium {
    padding: $spacing-lg $spacing-xl;
  }

  @include mobile-small {
    padding: $spacing-md;
  }

  &__header {
    @include flex(row, space-between, center);

    @include mobile-medium {
      flex-direction: column;
      align-items: flex-start;
      gap: $spacing-lg;
      margin-bottom: $spacing-xxl;
    }
  }

  &__dropdown-wrapper {
    width: 200px;

    @include mobile-medium {
      width: 100%;
    }
  }

  &__summary {
    margin-bottom: $spacing-lg;

    @include mobile-medium {
      margin-bottom: $spacing-md;
    }
  }

  &__results-wrapper {
    @include flex(column, flex-start, stretch);
  }

  &__placeholder {
    text-align: center;
  }

  &__pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
    }
  }

  @each $theme, $values in $search-results-theme-map {
    &--#{$theme} {
      background: map-get($values, background);
      color: map-get($values, text);
      // border: 1px solid map-get($values, border);
    }
  }
}
