// Spinner.module.scss
@import "@/app/_styles/variables";
@import "@/app/_styles/mixins";

$spinner-theme-map: (
  dark: (
    spinner-border: $primary-light,
  ),
  light: (
    spinner-border: $primary-light,
  ),
  custom: (
    spinner-border: var(--spinner-border),
  ),
);

$spinner-sizes: (
  sm: (
    size: 24px,
    border-width: 2px,
  ),
  md: (
    size: 32px,
    border-width: 2px,
  ),
  lg: (
    size: 48px,
    border-width: 3px,
  ),
);

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  // Theme variations
  @each $theme, $values in $spinner-theme-map {
    &--theme-#{$theme} {
      .spinner__element {
        border-top-color: map-get($values, spinner-border);
        border-bottom-color: map-get($values, spinner-border);
      }
    }
  }

  // Size variations
  @each $size, $values in $spinner-sizes {
    &--#{$size} {
      .spinner__element {
        width: map-get($values, size);
        height: map-get($values, size);
        border-width: map-get($values, border-width);
      }
    }
  }

  &__element {
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
